
<div class="container">

  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="users">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="users/create">Create</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          href="#"
          (click)="toggleLang()" >{{currentLanguage}}</a>
      </li>

    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
