
<div class="container">

  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="home">{{ 'MAINMENU.HOME' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="users">{{ 'MAINMENU.LIST' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="users/create">{{ 'MAINMENU.CREATE' | translate }}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link ptr" (click)="toggleLang()" >{{currentLanguage}}</a>
      </li>

    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
