
<div class="container">



    <form [formGroup]="userDetailForm" (ngSubmit)="onSubmit()" >

      <input id="userId"
              type="hidden"
              formControlName="userId">

      <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4 mt-lg-2 mt-md-4 mt-sm-2">

          <div class="form-group">
            <label for="firstname" >{{'USERDETAIL.FIRSTNAME' | translate }}</label>
            <input id="firstname"
                  placeholder="{{'USERDETAIL.FIRSTNAME' | translate }}"
                  class="form-control"
                  type="text"
                  formControlName="firstName">
            <small *ngIf="!userDetailForm.get('firstName').valid &&
                          userDetailForm.get('firstName').hasError('forbiddenFirstName')"
                  class="text-danger">{{'USERDETAIL.FIRSTNAMEBAD' | translate}}</small>
            <small *ngIf="!userDetailForm.get('firstName').valid &&
                          userDetailForm.get('firstName').hasError('required') &&
                          userDetailForm.get('firstName').touched"
              class="text-danger">{{'USERDETAIL.FIRSTNAMEREQ' | translate}}</small>
          </div>
          <div class="form-group">
            <label for="lastname">{{'USERDETAIL.LASTNAME' | translate }}</label>
            <input id="lastname"
                  placeholder="{{'USERDETAIL.LASTNAME' | translate }}"
                  class="form-control"
                  type="text"
                  formControlName="lastName">
            <small *ngIf="!userDetailForm.get('lastName').valid &&
                          userDetailForm.get('lastName').touched"
                  class="text-danger">{{'USERDETAIL.LASTNAMEREQ' | translate}}</small>
          </div>
          <div class="form-group">
            <label for="username">{{'USERDETAIL.USERNAME' | translate }}</label>
            <input id="username"
                  placeholder="{{'USERDETAIL.USERNAME' | translate }}"
                  class="form-control"
                  type="text"
                  formControlName="username">
            <small *ngIf="!userDetailForm.get('username').valid &&
                          userDetailForm.get('username').hasError('forbiddenUserName')"
                  class="text-danger">{{'USERDETAIL.USERNAMEBAD' | translate}}</small>
            <small *ngIf="!userDetailForm.get('username').valid &&
                          userDetailForm.get('username').hasError('required') &&
                          userDetailForm.get('username').touched"
                  class="text-danger">{{'USERDETAIL.USERNAMEREQ' | translate}}</small>
          </div>

          <div class="btn-toolbar text-center">
            <button class="btn btn-danger"
                    type="button"
                    (click)="cancel()">{{'USERDETAIL.BTNCANCEL' | translate }}</button>
            <button class="btn btn-primary ml-2"
                    type="submit"
                    [disabled]="!userDetailForm.valid" >{{'USERDETAIL.BTNSAVE' | translate }}</button>
          </div>

        </div>
        <!-- <div class="col-lg-4 col-md-4 col-sm-4 mt-lg-2 mt-md-4 mt-sm-2">   -->

        <div class="col-lg-4 col-md-4 col-sm-4 mt-lg-2 mt-md-4 mt-sm-2">

            <div class="btn-toolbar text-center">
              <button class="btn btn-success" type="button" [disabled]="!userDetailForm.valid" (click)="showAddPhoneModal()" >Add Phone</button>
            </div>

            <div  formArrayName="phones"  *ngFor="let phone of userDetailForm.get('phones')['controls']; let idx = index">
                <div [formGroupName]="idx">

                  <input formControlName="userId">
                  <input formControlName="phoneId">
                  <input formControlName="kind">
                  <input formControlName="telNumber">

                </div>
            </div>

        </div>

      </div>  <!-- row -->
    </form>




</div> <!-- container -->


<br>
{{userDetailForm.value | json}}
<br>
Form Status:
{{userDetailForm.status}}

<app-add-phone-modal *ngIf="showModal" (closeModal)="onHandleAddUserPhone($event)" ></app-add-phone-modal>


