<div class="backdrop"></div>
<div class="alert-box">

  <form [formGroup]="addPhoneForm" >
    <div class="form-group">
      <label for="phone-type">{{'ADDPHONEMODAL.PHONETYPE' | translate }}</label>
      <input id="phone-type"
            placeholder="{{'ADDPHONEMODAL.PHONETYPE' | translate }}"
            class="form-control"
            type="text"
            formControlName="kind">
    </div>

    <div class="form-group">
      <label for="phone-number">{{'ADDPHONEMODAL.PHONENUMBER' | translate }}</label>
      <input id="phone-number"
            placeholder="{{'ADDPHONEMODAL.PHONENUMBER' | translate }}"
            class="form-control"
            type="text"
            formControlName="telNumber">
    </div>
  </form>

   <div class="alert-box-actions">
     <button class="btn btn-danger" type="button" (click)="onDismissModal()">{{'ADDPHONEMODAL.BTNCLOSE' | translate }}</button>
     <button class="btn btn-primary" type="button" [disabled]="!addPhoneForm.valid" (click)="onAddPhone()" >{{'ADDPHONEMODAL.BTNADD' | translate }}</button>
   </div>
</div>
