<form [formGroup]="formGroup">
  <div>
    <label>First name</label>
    <input type="text" formControlName="firstName">
  </div>

  <div>
    <label>Middle name</label>
    <input type="text" formControlName="middleName">
  </div>

  <div>
    <input type="checkbox" formControlName="noMiddleName">No middle name
  </div>

  <div>
    <label>Last name</label>
    <input type="text" formControlName="lastName">
  </div>

  <div>
    <label>Email address</label>
    <input type="text"  formControlName="emailAddress">
  </div>

  <div>
    <label>Password</label>
    <input type="password" formControlName="password">
  </div>
</form>

<button (click)="save()">Save</button>


{{formGroup.value | json}}
