<tw-dialog-header>Phone Numbers for {{ user.firstName + ' ' + user.lastName }}</tw-dialog-header>
<tw-dialog-body>
  <app-phone-detail userId="{{user.userId}}"></app-phone-detail>
  <table class="user-list-table">
    <thead>
    <tr>
      <th class="user-list-header">Phone Number</th>
      <th class="user-list-header">Verified</th>
      <th class="user-list-header">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let phonenumber of phoneNumbers">
      <td class="user-list-data">{{ phonenumber.phoneNumber }}</td>

      <td class="user-list-data">
        <div *ngIf="phonenumber.isVerified; else unVerified">
          <img class="svgButton" src="../../assets/svg/check.svg">
        </div>
        <ng-template #unVerified>
          <app-verify-number [phoneNumber]="phonenumber"></app-verify-number>
        </ng-template>
      </td>

      <td class="user-list-data">
        <div class="flex items-center justify-center">
          <div class="actions">
            <tw-popper>
              <img class="svgButton" src="../../assets/svg/id.svg">
              <div class="popper flex">
                <div class="font-bold">Phone ID:</div>
                {{ phonenumber.phoneId }}
              </div>
            </tw-popper>
          </div>

          <div class="actions">
            <tw-popper #refDelete>
              <img class="svgButton delete ml-1" src="../../assets/svg/trash.svg">
              <div class="delete-confirm">
                Are you sure you want to delete this number?
                <div class="block">
                  <button class="btn btn-red" (click)="deletePhoneNumber(phonenumber)">Yes</button>
                  <button class="btn btn-blue ml-2" (click)="handleCancelDelete()">No</button>
                </div>
              </div>
            </tw-popper>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</tw-dialog-body>
