<div class="m-10">
  <div class="text-lg mb-4">Edit User: {{ username }}</div>
  <div class="border rounded p-6">
    <div [formGroup]="formGroup">
      <div class="mb-3">
        <label>First Name:</label>
        <input class="tw-input" formControlName="firstName">
        <div class="validation-error" *ngIf="firstNameValidator.errors">{{ firstNameValidator.errors.error }}</div>
      </div>
      <div class="mb-3">
        <label>Last Name:</label>
        <input class="tw-input" formControlName="lastName">
        <div class="validation-error" *ngIf="lastNameValidator.errors">{{ lastNameValidator.errors.error }}</div>
      </div>
    </div>
    <button class="btn btn-blue" (click)="onSave()">Save Changes</button>
    <button class="btn btn-red ml-2" (click)="onCancel()">Cancel</button>
  </div>
</div>
